/* COLORS  */
:root {
  --site-bg: #f7cd75;
  --wallets-bg: #f2f2f2;
  --blue-price: #8898c6;
  --green-price: #8ace5e;
  --card-border-hr: #dedede;
  --card-text: #727272;
  --card-outline: #8793c6;
  --balance-date: #b5b5b5;
  --balance-plus: #eaeaea;
  --balance-description: #c6c6c6;
  --scrollbar: rgba(0, 0, 0, 0.5);
}
/* HTML */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  background-color: var(--site-bg);
}

.site-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.transfers-container {
  max-width: 840px;
  display: flex;
  position: relative;
}

/* WALLETS */
.transfer-wallets {
  width: 300px;
  background-color: var(--wallets-bg);
  padding: 40px;
  padding-right: 32px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 450px;
}

.transfer-wallets::-webkit-scrollbar {
  width: 8px;
}
.transfer-wallets::-webkit-scrollbar-thumb {
  display: none;
  border-radius: 4px;
}
.transfer-wallets::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
}
.transfer-wallets:hover::-webkit-scrollbar-thumb {
  display: block;
}

.transfer-wallets-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.transfer-wallets-title {
  font-weight: 500;
  font-size: 20px;
  margin: 0;
}
.transfer-wallets-plus {
  background-image: url(../img/plus.svg);
  width: 24px;
  height: 24px;
}
.transfer-wallet {
  color: var(--card-text);
  padding: 15px;
  padding-bottom: 8px;
  margin-top: 30px;
  border: 2px var(--card-border-hr) solid;
  border-radius: 7px;
  background-color: #fff;
}
.transfer-wallet:hover {
  border-color: var(--card-outline);
}
.transfer-wallet:nth-child(3) {
  border-color: var(--card-outline);
}
.wallet-card {
  width: 60px;
  height: 35.2px;
  margin-bottom: 12px;
}
.visa {
  background-image: url(../img/visa.svg);
}
.masterCard {
  background-image: url(../img/mastercard.svg);
}
.maestro {
  background-image: url(../img/maestro.svg);
}
.wallet-number {
  font-size: 15px;
}
/* BALANCE */
.transfer-balance {
  padding: 40px;
  padding-right: 32px;
  width: 500px;
  background-color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 450px;
}
.transfer-balance::-webkit-scrollbar {
  width: 8px;
}
.transfer-balance::-webkit-scrollbar-thumb {
  display: none;
  border-radius: 4px;
}
.transfer-balance::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
}
.transfer-balance:hover::-webkit-scrollbar-thumb {
  display: block;
}
.transfer-balance-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px var(--card-border-hr) solid;
  padding-bottom: 49px;
  margin-bottom: 30px;
}
.transfer-balance-title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
}
.transfer-balance-amount {
  font-size: 23px;
  font-weight: 700;
}

/* PRODUCT-LIST */

.product-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
.product-item-minus {
  background-image: url(../img/minus.svg);
  width: 24px;
  height: 24px;
  border: 1px var(--balance-plus) solid;
  border-radius: 50%;
  background-position: 2px 0px;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-right: 30px;
}
.product-item-plus {
  background-image: url(../img/plus-add.svg);
  width: 24px;
  height: 24px;
  border: 1px var(--balance-plus) solid;
  border-radius: 50%;
  background-position: 3px 3px;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-right: 30px;
}
.product-item {
  margin-right: auto;
}
.product-item-name {
  margin: 0;
  font-size: 18px;
}
.product-item-description {
  color: var(--balance-description);
  margin: 0;
  line-height: 33px;
}
.product-item-price {
  font-size: 16px;
  font-weight: 600;
}

.blue-price {
  color: var(--blue-price);
}
.green-price {
  color: var(--green-price);
}
